node_modules
client/build
package-lock.json
.env
server/scripts/*
server/savedImages/*/*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*